language: python
python: 2.7
env:
  global:
    PIP_INDEX_URL=https://storax.github.io/travis-pyside-test/simple/
    PIP_EXTRA_INDEX_URL=https://pypi.python.org/simple
    LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  matrix:
    - TOXENV=check
{% for env, config in tox_environments|dictsort %}
    - TOXENV={{ env }}{% if config.cover %},coveralls{% endif %}

{% endfor %}
addons:
  apt:
    packages:
    - xvfb
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
script:
  - Xvfb :0 -screen 0 1600x1200x24 &
  - export DISPLAY=:0.0
  - tox -v
notifications:
  email:
    on_success: never
    on_failure: never
before_deploy:
  - pip install twine
  - pip install wheel
deploy:
  provider: pypi
  user: storax
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    repo: storax/qmenuview
  password:
    secure: zYTWwukkFTmPpV/Caezq+itEAH+zxAlK3LjBkaBB2u16OcxoQNelwNQeOBd1LZw4S+vKbwdnEKe4vYhJgeQY7XlklL20sYQw+yNiGiUnJnOFUhSbz46sHn06AnbpywdNJUXHrAfuIbcZCcY7QoJLM+gqAuqVu2XXS0CoNwp8acpr8fxBE3i0gGu1ihYJXYSNAh5AA4HkxO9qy82Oy9wTYqXAS5xalWGsmZg9+a1rJaDuBn4mwEv3aEyFnapPUM0tPgdTfWKYBIDK5OIpqmy26IZhPPW/TcR3Y5vhOKdPeaCOxib9g+Dhk6iHiSqdda12nKlOcwQXWdy3JiklJgD/kX4BYY8ZSsMjJ+xI9aaL6JRDgjwbeqBQbgPJP+Flqnzz8PM3m9KQMahYtJrbBsb8j/vSG73TE4AsNyDtb4cKAzZtX3DWRIHWVcaaBD61knVlOvxh0Rcn9QwP2PYudbABa5FfFXrinDgvjNiELqdnT54DYgvwiLkJqHVOrS7Tp4CmldGy/cspMm10PjeQSAuidiII6YtqeCKMYZdF8ca5RNRgKPte3Ew5O936+dMyYRNAh2G/WeI0c4xrxlCegOdH78vmqTgtKQhFqSA/4p8V8zDu5l7dPrDtgr8HbcJtELykrfBn3YPM6LLcvtNtOOBowOPATCs7OmKPrVakw16ot1Q=
